@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

body {
    background-color: black;
    color: white;
}

#header {
    font-family: "Bebas Neue";
}

#links {
    font-family: "Ubuntu";
}

.other-pages-header {
    max-width: 540px;
}

.content {
    font-family: "Montserrat";
    text-align: justify;
    text-justify: inter-word;
}

.footer-image {
    max-width: 100px;
}

.img-caption {
  opacity: 60%;
}

.content-img {
  width: 480px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }